
.vs/Double Sybtitle/v16/.suo
.vs/Double Sybtitle/v16/Server/sqlite3/db.lock
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide-shm
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide-wal
bin/Debug/DoubleSybtitle.exe
bin/Debug/DoubleSybtitle.exe.config
bin/Debug/DoubleSybtitle.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Double Sybtitle.csproj.FileListAbsolute.txt
obj/Debug/Double Sybtitle.csproj.GenerateResource.cache
obj/Debug/Double Sybtitle.csprojAssemblyReference.cache
obj/Debug/Double_Sybtitle.MainForm.resources
obj/Debug/DoubleSybtitle.exe
obj/Debug/DoubleSybtitle.pdb
obj/Debug/DoubleSybtitle.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

obj/Debug/Double Sybtitle.csproj.CopyComplete
bin/Debug/BL.dll
bin/Debug/BL.pdb
BL/obj/Debug/BL.csprojAssemblyReference.cache
BL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/BL.dll
bin/Debug/BL.pdb
BL/bin/Debug/BL.dll
BL/bin/Debug/BL.pdb
BL/obj/Debug/BL.csproj.FileListAbsolute.txt
BL/obj/Debug/BL.dll
BL/obj/Debug/BL.pdb
