
.vs/Double Sybtitle/v16/.suo
.vs/Double Sybtitle/v16/Server/sqlite3/db.lock
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide-shm
.vs/Double Sybtitle/v16/Server/sqlite3/storage.ide-wal
bin/Debug/DoubleSybtitle.exe
bin/Debug/DoubleSybtitle.exe.config
bin/Debug/DoubleSybtitle.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Double Sybtitle.csproj.FileListAbsolute.txt
obj/Debug/Double Sybtitle.csproj.GenerateResource.cache
obj/Debug/Double Sybtitle.csprojAssemblyReference.cache
obj/Debug/Double_Sybtitle.MainForm.resources
obj/Debug/DoubleSybtitle.exe
obj/Debug/DoubleSybtitle.pdb
obj/Debug/DoubleSybtitle.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
